# Keep executable/config files Linux-friendly inside GNS3 containers 
# git add --renormalize .
* text=auto eol=lf
*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.conf text eol=lf
*.env.example text eol=lf
Dockerfile text eol=lf
*.md text eol=lf