# Environment files
*.env
.env

# Secrets
*.pem
*.key
*.crt
id_rsa
id_rsa.pub
secrets/*.secret

# Terraform sensitive/state files
terraform/.terraform/
terraform.tfstate
terraform.tfstate.*
*.tfvars

# Python
__pycache__/
*.pyc
.venv/
venv/

# Logs
*.log
logs/

# OS/editor
.DS_Store
.vscode/
.idea/