project_name = "network-automation-platform"
environment  = "dev"

aws_region        = "eu-noth-1"
availability_zone = "eu-north-1a"

aws_profile = null
owner = "wiam"

# Cloud CIDR plan.
# This CIDR must not overlap with the local GNS3/on-prem networks.
vpc_cidr               = "10.50.0.0/16"
public_subnet_cidr     = "10.50.10.0/24"
private_subnet_cidr    = "10.50.20.0/24"
monitoring_subnet_cidr = "10.50.30.0/24"

# Public CIDR allowed to access admin/cloud services.
admin_allowed_cidr = "DEVOPS_VM_PUBLIC_IP/32"

# Custom S3 bucket name.
# null generate a bucket name using the AWS account ID.
storage_bucket_name_override = null
